" Inspo: https://towardsdatascience.com/the-essential-ideavim-remaps-291d4cd3971b
set scrolloff=5
set incsearch
set ideajoin
set idearefactormode=keep
set ignorecase smartcase

map Q gq

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

let mapleader=" "

" Buffer and tooling
nnoremap <leader>bd :action CloseActiveTab<CR>
nnoremap <leader>bw :action CloseAllEditorsButActive<CR>
nnoremap <leader><leader> :action SearchEverywhere<CR>
nnoremap <c-\> :action SplitVertically<CR>
nnoremap <c--> :action SplitHorizontally<CR>

" Editing and navigating
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
nnoremap <c-d> <c-d>zz
nnoremap <c-u> <c-u>zz
nnoremap n nzzzv
nnoremap N Nzzzv
vnoremap < <gv
vnoremap > >gv
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

nnoremap <leader>rr :action RenameElement<CR>
nnoremap <leader>o :action OptimizeImports<CR>
nnoremap <Leader>= :action ReformatCode<CR>
nnoremap gd :action GotoDeclaration<CR>

" Debugging
nnoremap <leader>dn :action StepOver<CR>
nnoremap <leader>di :action StepInto<CR>
nnoremap <leader>do :action StepOut<CR>
nnoremap <leader>dc :action Resume<CR>
nnoremap <leader>db :action ToggleLineBreakpoint<CR>
